<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">
	<!-- UserMapper.xml의 Mapper태그의 namespace값은 UserDAO.java에서 사용 -->
	<!-- 가령 User.insertUser 라는 스트링을 파라미터값으로 쓴다. -->
	<insert id="insertUser" parameterType="User">
		INSERT INTO T_USER
		VALUES(#{userId}, #{userPw}, #{userName})
	</insert>
	<!-- insert는 리절트타입이 필요없다. -->


	<!-- 파라미터타입이 User형태로 줘도 되지만 .. String으로 했으니 UserDAO에서 스트링으로 넘어옴 만약에 USer로 
		해두면 DAO에서 selectUser메소드에 들어오는 파라미터를 User로 해야함 resultType은 넘겨줄 때 어떤 형으로 넘겨줄 
		것인지를 지정 parameterType은 편한대로 사용하면 됨. 하나만 받을거면 String이 편하지뭐 -->
	<select id="selectUser" parameterType="String" resultType="User">
		<!-- paramType 스트링이라 대소문자 구분 x , 유저였다면 변수 브이오랑 맞췄어야 -->
		SELECT * FROM T_USER WHERE USERID=#{userid}
		<!--#{sadsd}이렇게 적어도됨, 어차피 하나 -->
	</select>

	<select id="selectUserList" resultType="User">
		SELECT * FROM T_User
	</select>


	<update id="updateUser" parameterType="User">
		UPDATE T_USER SET USERPW = #{userPw}, USERNAME = #{userName}
		WHERE USERID = #{userId}
	</update>
	
	<select id="selectUserHash" parameterType="String" resultType="HashMap">
		SELECT * FROM T_USER WHERE USERID=#{userid}
	</select>
</mapper>